<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new post</title>
</head>
<body>
    <h1>Enter your post info:</h1><br>
    <form action="/post/created/" method="GET">
        <label for="title">Title:</label><br><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="body">Post:</label><br><br>
        <textarea id="body" name="body"></textarea><br><br>
        <input type="submit" value="POST"><br><br>
    </form>
</body>
</html>