<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Hello, User №7! Feel free to use the following features:</h1><br>
    <a href="/">This one is doing nothing, just returning to home page</a><br><br>
    <a href="/post/create/">Create a post</a><br><br>
    <a href="/post/read/">Read a post</a><br><br>
    <a href="/post/update/">Update a post</a><br><br>
    <a href="/post/delete/">Delete a post</a><br><br>
    <a href="/comment/create/choosepost/">Create a comment</a><br><br>
    <a href="/comment/read/choosepost/">Read a comment</a><br><br>
    <a href="/comment/update/choosepost/">Update a comment</a><br><br>
    <a href="/comment/delete/choosepost/">Delete a comment</a><br><br>

</body>
</html>