<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update a post</title>
</head>
<body>
    <h1>You are updating the post №{{.ID}}:</h1><br>
    <form action="/post/updateD/" method="GET">
        <label for="id">ID:</label><br><br>
        <input type="number" id="id" name="id" value={{.ID}} readonly><br><br>
        <label for="title">Title:</label><br><br>
        <input type="text" id="title" name="title" value={{.Title}}><br><br>
        <label for="body">Post:</label><br><br>
        <textarea id="body" name="body">{{.Body}}</textarea><br><br>
        <input type="submit" value="UPDATE"><br><br>
    </form>
</body>
</html>